@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes', sans-serif, serif;
  min-height: 800px;
  /* border: 1px dashed pink; */
}

.pinkround {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.container {
    min-width: 320px;
    margin: 0 auto; 
    /* border: 1px dotted green; */
}

.container:first-child {
    border-bottom: 1px solid #D9FFF5;
}

.header {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger:hover,
.header__search-box:hover {
    content: '';
    border: 1px solid #D9FFF5;
}

.header__burger {
    margin-right: 15px;
}

.header__search-box {
    margin-left: 15px;
}

.header__burger-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin: 0 15px;
}

.subheader {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.subheader_divider {
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    margin-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.subheader__title {
    font-weight: 900;
    font-size: 24px;
}

.container:nth-child(3) {
    overflow-x: scroll;
}

.navigation { 
    width: 1060px;
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    flex-wrap: wrap;
}

.navigation__list {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    padding-right: 10px;
}

.navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

/* .navigation__link:last-child {
    padding-right: -5px;
}
 */
.navigation__link {
    display: block;
    text-decoration: none;
    color: #7E7E82;
    padding: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.navigation__item:hover {
    outline: 2px solid #B8FFEC;
    border-radius: 5px;
}

.main {
    display: flex;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
}

.main__more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #1B1C21;
    padding:  16px 0;
}

.main__logo {
    padding-right: 10px;
}

.main__text {
    font-size: 14px;
    line-height: 18px;
}

.main__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__image {
    width: 100%;
}

.header__link--tablet {
    display: none;
}


.main__more-text {
    font-size: 16px;
    font-weight: 500;
}


.header__info--pc,
.header__link--tablet,
.main__text--tablet,
.main__text--pc,
.subheader--pc,
.subheader_divider--pc,
.subheader__title--pc {
    display: none;
}

@media (min-width: 576px) {

 .container {
    max-width: 769px;
 }

 .header__link--tablet {
    display: block;
 }

 .header {
    justify-content: space-between;
}

.main__text--tablet {
    display: flex;
    font-size: 1em;
    line-height: 18px;
    white-space: pre-line;
}

.main__descr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.main__text-box {
    width: 50%;
    padding-right: 20px;
    font-size: 14px;
}

.main__text {
    white-space: pre-line;
}

.main__image-box {
    width: 50%;
}

.main__more-text {
    font-size: 16px;
    font-weight: 500;
}

.main__image {
    object-fit: contain;
}

.subheader--pc {
    display: none;
}

.main__text--pc {
    display: none;
}

}

@media (min-width: 770px) {


    .subheader--pc, .subheader_divider--pc, .subheader__title--pc {
        display: block;
}

    .container {
        max-width: 1100px;
     }

     .header__burger-box {
        display: none;
     }

     .header__link--tablet {
        display: none;
     }

     .container:first-child {
        border-bottom: none;
    }
     
    .container:nth-child(2) {
        display: none;
    }

    .container:nth-child(3) {
        overflow-x: hidden;
    }

    .navigation__list {
        width: 1030px;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 32px;
    }

    .subheader--pc {
        display: flex;
        align-items: center;

    }
    
    .subheader_divider--pc {
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        margin-right: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .subheader__title--pc {
        font-weight: 900;
        font-size: 24px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
    }

    .header__search {
       padding-right: 10px;
    }

    .header__divider {
        display: none
    }

    .header__info--pc {
        font-size: 16px;
    }

    .header__link--pc {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #1B1C21;
        padding-right: 10px;
    }

    .navigation__link {
        white-space: normal;
    }

    .main {
        display: flex;
        justify-content: space-between;
    }

    .main__descr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding-left: 42px;
    }

    .main__text {
        white-space: normal;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .main__text--tablet {
        display: none;
    }

    .main__text--pc {
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px; 
    }

    .main__image-box {
        padding-right: 20px;
    }

    .navigation {
        width: auto;
    }

    .navigation_list {
        display: flex;
        
    }

}